header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 4px 0;
  border-bottom: 1px solid #d3d6da;
  margin-bottom: 10px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 4px 4px 4px 4px;
}

.hamburger-menu img {
  width: 100%;
  height: 100%;
  display: block;
}

.title {
  font-size: 24px;
  font-weight: bold;
}

.right-icons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
  margin: 4px 4px 4px 4px;
}
